{% extends "base.html" %}

{% load staticfiles %}

{% load humanize %}

{% block title %}Welcome to the Knapsack Experiment!{% endblock %}

{% block headertitle %}Introduction{% endblock %}

{% block blockcontent %}
  <div class="transBackground">
    <h1 class="WelcomeTitle"><img src="{% static 'knapsack/media/mochila_Orange.svg' %}" alt="Knapsack Game Logo" width="70px" height="70px" style="max-width:100px; margin-top: -25px;">Knapsack Game!</h1>
    <div style="margin-top:40px;">
        <p><strong>IMPORTANT: PLEASE TURN OFF OR MUTE YOUR PHONES.</strong></p>
        <p>Welcome! This is an experiment in the economics of decision making. In this experiment, you will be asked to solve knapsack games. The amount of money you earn will depend on the decisions you make and on the decisions other people make. Please do not communicate with others during the experiment. If you have questions at any point during the experiment, raise your hand and the experimenter will help you.</p>
        <p>This experiment includes two phases:</p>
        <ol>
          <li><strong>Training phase</strong>: You will play {{ training_number }} different knapsack game{{ training_number|pluralize }}.</li>
          <li><strong>Contest phase</strong>: You will play {{ contest_number }} different contest{{ contest_number|pluralize }}. In each contest, you will compete against another player in solving {{ game_number }} knapsack game{{ game_number|pluralize }}.  The player who finishes first wins.</li>
        </ol>
        <p>You will also fill out a short survey after the experiment is over.</p>
        <p><i>You will get paid after completing both phases and filling out the survey.</i></p>
        <h3>Knapsack Game Description:</h3>
        <p>Imagine you are going on a trip and have only one suitcase. You cannot fit all the things you would like to take with you, so you try to fit the most important things. This is the knapsack game. In the game, you have a knapsack with limited weight capacity. There are a number of items available and each item has a weight and a value. You cannot fit all the items in the knapsack because their total weight is more than the maximum weight capacity of the knapsack.  You will be given a target value and your goal is to find a subset of items that will fit into the knapsack whose total value is at least equal to the target value.</p>
        <!--<p>The items, along with their dollar values and weights, are displayed on top of the page. Clicking on an item adds it to the knapsack (if it fits). Clicking on an item in the knapsack removes it and returns it back to the pool of the available items not in the knapsack. You can add and remove items as many times as you like before you submit your solution.</p>-->
        <h3>Payment:</h3>
        <p>Your total payment is the sum of what you earn in the training phase and in the contest phase.</p>
        <p>In the <strong>training phase</strong>, you will be paid ${{ training_earning }} for each game in which you can successfully fit items adding up to the target value (or above) into the knapsack.  If you are unable to reach the target value, you will get nothing. So, a player either succeeds in fitting the target value or does not.</p>
        <p>In the <strong>contest phase</strong>, there is a final prize of ${{ contest_earning }} for each contest.  The player who is able to finish the games first will earn the prize.  The other player will get nothing.  Finishing a game in the contest phase means being able to fit items in the knapsack whose total value is at least equal to the target value.</p>
        <p>After each game, you will be able to compare your solution and the best solution, as well as your score.</p>
        <div id="NeedMoreSubjectsDIV" class="alert alert-warning" style="{% if not needMoreSubjects %}display:none;{% endif %}">
            <p>The experiment requires {{ total_participants_number }} participants to start. Please wait till all participants are present to start the experiment.</p>
        </div>
        <div id="StartDescriptionDIV" class="alert alert-warning" style="{% if needMoreSubjects %}display:none;{% endif %}">
            <p>Click the "Go to Training..." button to start the training phase.</p>
        </div>
    </div>
    <div id="StartButtonDIV" class="row" style="margin-bottom:40px; margin-top:40px; {% if needMoreSubjects %}display:none;{% endif %}">
      <div class="col-xs-5 ">
      </div>
      <div class="col-xs-2 ">
        <a id="StartBtn" href="{% url 'knapsack:trainingintro' %}" class="btn btn-lg btn-success">Go to Training...</a>
      </div>
      <div class="col-xs-5 ">
      </div>
    </div>
  </div>
{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->
  <script>
    $(document).ready(function(){

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

      {% if needMoreSubjects %}
        var noActiveConnection = true;
        var reloadInterval = setInterval ( function() {
          if (noActiveConnection) {
            noActiveConnection = false;
            $.post( "{% url 'knapsack:index' %}", { experiment: {{ current_experiment }} },
              function (data) {
                noActiveConnection = true;
                if (data.needMoreSubjects != 0) {
                  $("#NeedMoreSubjectsDIV").show();
                  $("#StartDescriptionDIV").hide();
                  $("#StartButtonDIV").hide();
                }
                else {
                  clearInterval(reloadInterval);
                  $("#NeedMoreSubjectsDIV").hide();
                  $("#StartDescriptionDIV").show();
                  $("#StartButtonDIV").show();
                 }
              }, "json")
              .fail ( function (request, status, error) {
                alert( "Here! An error occurred. Please try again! If it happened again, please contact oneweb@umich.edu with details about the error and what you see on the webpage. request: " + request.responseText + ", request.responseText.d: " + request.responseText.d + ", status: " + status + ", error: " + error );
              });
          }
        }, 1000);
      {% endif %}
    });

  </script>
{% endblock %}
