
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'Your_Secret_key'

# For gmail or google apps.
EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'Your_Email_Address'
EMAIL_HOST_PASSWORD = 'Your_Email_Password'
EMAIL_PORT = 587
SERVER_EMAIL = 'Your_Email_Address'

ADMINS = (('Your_Name', 'Your_Email_Address'))
MANAGERS = (('Your_Name', 'Your_Email_Address'))

